*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: consolas;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f8fa;
}



.form{
  min-height: 50vh;
 width: 350px;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
  box-shadow: 5px 5px 10px grey;
  justify-content: space-around;
}

.form .check{
  display: flex;
  flex-direction: row;
}

input{
  height: 50px;
  border: none;
  max-width: 85%;
  margin: auto;
}

button{
  color: #fff;
  background-color: #f04037;
  width: 90%;
  height: 30px;
  border: none;
  margin: auto;
}

.err{
  color: red;
}